<!DOCTYPE html>
<html lang="fr">

	<head>
		{% block head %}
			<title>REAM</title>
			<meta charset="utf-8"/>
			<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
			<meta content="ie=edge" http-equiv="x-ua-compatible"/>
			<link
			rel="icon" href="{{ asset('ressources/img/home.ico') }}"/>
			<!-- Font Awesome -->
			<link
			href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
			<!-- Bootstrap core CSS -->
			<link
			href="{{ asset('mdb/css/bootstrap.min.css') }}" rel="stylesheet"/>
			<!-- Material Design Bootstrap -->
			<link
			href="{{ asset('mdb/css/mdb.min.css') }}" rel="stylesheet"/>

			<!-- Custom CSS style sheet -->
			<link href="{{ asset('ressources/css/base.css') }}" rel="stylesheet"/>

			{% block css %}{% endblock %}
		{% endblock %}
	</head>

	<body
		class="fixed-sn dark-skin dark-theme">
		<!-- Double navigation -->
		<header>
			{% block header %}
				<!-- SideMenu navigation -->
				<div class="side-nav fixed wide sn-bg-1" id="slide-out">
					<ul
						class="custom-scrollbar">
						<!-- Logo -->
						<li>
							<div class="logo-wrapper sn-ad-avatar-wrapper">
								<a href="{{ path('websiteIndex') }}"><img src="{{ asset('ressources/img/home-logo.png') }}" class="rounded-circle"/><span>Menu Principal</span>
								</a>
							</div>
						</li>
						<!-- Logo -->
						<!-- Side navigation links -->
						<li>
							<ul class="collapsible collapsible-accordion">
								<li>
									<a class="collapsible-header waves-effect arrow-r active">
										<i class="far fa-address-book"></i>Locataires<i class="fas fa-angle-down rotate-icon"></i>
									</a>
									<div class="collapsible-body">
										<ul>
											<li><a class="waves-effect"href="{{ path('addTenant') }}"><span class="sv-normal">Formulaire d'ajout</span></a></li>
											<li><a class="waves-effect"href="{{ path('addTenant') }}"><span class="sv-normal">Consultation</span></a></li>
										</ul>
									</div>
								</li>
								<li>
									<a class="collapsible-header waves-effect arrow-r">
										<i class="far fa-copy"></i>Dossiers<i class="fas fa-angle-down rotate-icon"></i>
									</a>
									<div class="collapsible-body">
										<ul>
											<li><a class="waves-effect" href="#"><span class="sv-normal">Consultation</span></a></li>
										</ul>
									</div>
								</li>
								<li>
									<a class="collapsible-header waves-effect arrow-r">
										<i class="far fa-building"></i>Locaux<i class="fas fa-angle-down rotate-icon"></i>
									</a>
									<div class="collapsible-body">
										<ul>
											<li><a class="waves-effect" href="#"><span class="sv-normal">Ajouter un local</span></a></li>
											<li><a class="waves-effect" href="#"><span class="sv-normal">Consultation</span></a></li>
										</ul>
									</div>
								</li>
								<li>
									<a class="collapsible-header waves-effect arrow-r">
										<i class="far fa-file-alt"></i>Documents génériques<i class="fas fa-angle-down rotate-icon"></i>
									</a>
									<div class="collapsible-body">
										<ul>
											<li><a class="waves-effect" href="#"><span class="sv-normal">Ajouter un document</span></a></li>
											<li><a class="waves-effect" href="#"><span class="sv-normal">Liste</span></a></li>
										</ul>
									</div>
								</li>
								<li>
									<a class="waves-effect" id="toggle">
										<i class="fas fa-angle-double-left"></i>
										Minimiser le menu
									</a>
								</li>
							</ul>
						</li>
						<!-- Side navigation links -->
					</ul>
					<!-- Here is a div to represent the background of the SideNav -->
					<div class="sidenav-bg rgba-blue-strong"></div>
				</div>
				<!-- End of SideMenu navigation -->

				<!-- Navbar -->
				<nav
					class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
					<!-- SideNav slide-out button -->
					<div class="float-left">
						<a class="button-collapse" data-activates="slide-out" href="#">
							<i class="fas fa-bars"></i>
						</a>
					</div>
					<!-- Breadcrumb -->
					<div class="breadcrumb-dn mr-auto text-white">
						{% block page_title %}{% endblock %}
					</div>
					<ul class="nav navbar-nav nav-flex-icons ml-auto text-white">
						<li class="nav-item dropdown">
							<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink">
								Paramètres
							</a>
							<div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">A venir</a>
								<a class="dropdown-item" href="#">A venir</a>
								<a class="dropdown-item" href="#">A venir</a>
							</div>
						</li>
					</ul>
				</nav>
				<!-- Navbar -->
			{% endblock %}
		</header>
		<!-- Double navigation -->

		<main class="pt-3"> {% block main %}{% endblock %}
			<!-- Main layout -->
			</main>

			{% block scripts %}
				<!-- JQuery -->
				<script type="text/javascript" src="{{ asset('mdb/js/jquery-3.4.1.min.js') }}"></script>
				<!-- Bootstrap tooltips -->
				<script type="text/javascript" src="{{ asset('mdb/js/popper.min.js') }}"></script>
				<!-- Bootstrap core JavaScript -->
				<script type="text/javascript" src="{{ asset('mdb/js/bootstrap.min.js') }}"></script>
				<!-- MDB core JavaScript -->
				<script type="text/javascript" src="{{ asset('mdb/js/mdb.min.js') }}"></script>

				<!-- Custom JS scripts -->
				<script type="text/javascript" src="{{ asset('ressources/js/base.js') }}"></script>

				{% block js %}{% endblock %}
			{% endblock %}
		</body>
	</html>
