{% extends 'base.html.twig' %}

{% block css %}
	<!-- Custom styles -->
	<link href="{{ asset('ressources/css/formBase.css') }}" rel="stylesheet"/>
	<link href="{{ asset('ressources/css/tenant/formAddTenant.css') }}" rel="stylesheet"/>
{% endblock %}

{% block page_title %}
	<p>Formulaire d'ajout d'un locataire</p>
{% endblock %}

{% block main %}

	<div class="form-wrapper">
		{{ form_start(form) }}

		<fieldset class="tenant">
			<legend>Locataire</legend>
			<div class="md-form">
				{{ form_label(form.name, 'Nom') }}
				{{ form_widget(form.name) }}
			</div>

			<div class="md-form">
				{{ form_label(form.firstName, 'Prénom') }}
				{{ form_widget(form.firstName) }}
			</div>

			<div class="md-form always-active">
				{{ form_label(form.gender, 'Sexe') }}
				{{ form_widget(form.gender) }}
			</div>

			<div class="md-form">
				{{ form_label(form.phone, 'Téléphone fixe') }}
				{{ form_widget(form.phone) }}
			</div>

			<div class="md-form">
				{{ form_label(form.mobilePhone, 'Téléphone mobile') }}
				{{ form_widget(form.mobilePhone) }}
			</div>

			<div class="md-form">
				{{ form_label(form.email, 'E-Mail') }}
				{{ form_widget(form.email) }}
			</div>

			<div class="md-form">
				{{ form_label(form.address, 'Adresse postale') }}
				{{ form_widget(form.address) }}
			</div>

			<div class="md-form always-active">
				{{ form_label(form.dateOfBirth, 'Date de naissance') }}
				{{ form_widget(form.dateOfBirth) }}
			</div>

			<div class="md-form">
				{{ form_label(form.birthPlace, 'Lieu de naissance') }}
				{{ form_widget(form.birthPlace) }}
			</div>

			<div class="md-form">
				{{ form_widget(form.save, { 'label': 'Enregistrer' }) }}
			</div>

		</fieldset>

		<section class="including-forms">
			<legend>Parent(s)</legend>
			<div class="choice-header">
				<div class="default-form always-active">
					{{ form_label(form.parent, 'Choix du parent') }}
					{{ form_widget(form.parent) }}
				</div>
			</div>
			{{ form_errors(form) }}

			<div class="other-forms">
				<fieldset class="father-form">
					<div class="transition-div">

						<legend>Père</legend>
						<div class="md-form">
							{{ form_label(form.father.name, 'Nom') }}
							{{ form_widget(form.father.name) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.firstName, 'Prénom') }}
							{{ form_widget(form.father.firstName) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.phone, 'Téléphone fixe') }}
							{{ form_widget(form.father.phone) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.mobilePhone, 'Téléphone mobile') }}
							{{ form_widget(form.father.mobilePhone) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.email, 'E-Mail') }}
							{{ form_widget(form.father.email) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.address, 'Adresse postale') }}
							{{ form_widget(form.father.address) }}
						</div>

						<div class="md-form always-active">
							{{ form_label(form.father.dateOfBirth, 'Date de naissance') }}
							{{ form_widget(form.father.dateOfBirth) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.birthPlace, 'Lieu de naissance') }}
							{{ form_widget(form.father.birthPlace) }}
						</div>

						<div class="md-form">
							{{ form_label(form.father.profession, 'Profession') }}
							{{ form_widget(form.father.profession) }}
						</div>

					</div>
				</fieldset>

				<fieldset class="mother-form">
					<div class="transition-div">
						<legend>Mère</legend>
						<div class="md-form">
							{{ form_label(form.mother.name, 'Nom') }}
							{{ form_widget(form.mother.name) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.firstName, 'Prénom') }}
							{{ form_widget(form.mother.firstName) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.phone, 'Téléphone fixe') }}
							{{ form_widget(form.mother.phone) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.mobilePhone, 'Téléphone mobile') }}
							{{ form_widget(form.mother.mobilePhone) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.email, 'E-Mail') }}
							{{ form_widget(form.mother.email) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.address, 'Adresse postale') }}
							{{ form_widget(form.mother.address) }}
						</div>

						<div class="md-form always-active">
							{{ form_label(form.mother.dateOfBirth, 'Date de naissance') }}
							{{ form_widget(form.mother.dateOfBirth) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.birthPlace, 'Lieu de naissance') }}
							{{ form_widget(form.mother.birthPlace) }}
						</div>

						<div class="md-form">
							{{ form_label(form.mother.profession, 'Profession') }}
							{{ form_widget(form.mother.profession) }}
						</div>

					</div>
				</fieldset>
			</div>
		</section>
	</div>

{% endblock %}

{% block js %}
	<!-- Custom JS scripts -->
	<script type="text/javascript" src="{{ asset('ressources/js/formBase.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ressources/js/tenant/formAddTenant.js') }}"></script>
{% endblock %}
