{% extends 'base.html.twig' %}

{% block css %}
	<!-- Custom styles -->
	<link href="{{ asset('ressources/css/formBase.css') }}" rel="stylesheet"/>
	<link href="{{ asset('ressources/css/room/formAddRoom.css') }}" rel="stylesheet"/>
{% endblock %}

{% block page_title %}
	<p>Formulaire d'ajout d'un local</p>
{% endblock %}

{% block main %}

	<div class="form-wrapper">
		{{ form_start(form) }}

		<legend>Local</legend>

		<div class="md-form">
			{{ form_label(form.name, 'Nom') }}
			{{ form_widget(form.name) }}
		</div>

		<div class="md-form">
			{{ form_label(form.address, 'Adresse') }}
			{{ form_widget(form.address) }}
		</div>

		<div class="md-form">
			{{ form_label(form.surface, 'Surface') }}
			{{ form_widget(form.surface) }}
		</div>

		<div class="default-form">
			{{ form_label(form.type, 'Type du local') }}
			{{ form_widget(form.type) }}
		</div>

		<div class="md-form">
			{{ form_label(form.furnish, 'Meublé') }}
			{{ form_widget(form.furnish) }}
		</div>

		<div class="md-form">
			{{ form_widget(form.save, { 'label': 'Enregistrer' }) }}
		</div>


		{{ form_end(form) }}
	</div>
{% endblock %}

{% block js %}
	<!-- Custom JS scripts -->
	<script type="text/javascript" src="{{ asset('ressources/js/formBase.js') }}"></script>
{% endblock %}
